.column-header {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  margin-bottom: 1vh;
  width: 100%;
  align-items: center;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
}

.column-header span {
  flex: 1;
  text-align: center;
  justify-content: center;
}

.chord-progression {
  text-align: center;
  flex: 1;
  justify-content: center;
}

.mood {
  text-align: center;
  flex: 1;
  justify-content: center;
}

.list-block {
  border: solid;
  height: 45vh;
  width: 60vh;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: fixed;
  border-radius: 2vh;
  padding: 2vh;
  overflow: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 90vw;
}

.my-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1vh;
  width: 100%;
}

.select {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}

.select input[type="checkbox"] {
  margin-right: 8px;
}

.remove-button {
  position: absolute;
  top: 10px; /* 必要な位置に調整してください */
  right: 10px; /* 必要な位置に調整してください */
}
