.column-header {
  justify-content: space-between;
  font-weight: bold;
  margin-bottom: 1vh;
  width: 100%;
  align-items: center;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: stretch; /* 列の要素を等しい高さに伸ばす */
  width: 100%;
  flex-wrap: wrap;
  gap: 2vh; /* 適切な間隔を設定してください */
}

.column-header span {
  flex: 1;
  text-align: center;
  justify-content: center;
  align-self: center; /* 列の要素を縦方向に中央揃えにする */
}

.chord-progression {
  text-align: center;
  flex: 1;
  justify-content: center;
  white-space: nowrap; /* 折り返さずに表示する */
  align-self: center; /* 列の要素を縦方向に中央揃えにする */
}

.mood {
  text-align: center;
  flex: 1;
  justify-content: center;
  align-self: center; /* 列の要素を縦方向に中央揃えにする */
}

.list-block {
  border: solid;
  height: 34vh;
  width: 100vh;
  top: 42%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: fixed;
  border-radius: 2vh;
  padding: 2vh;
  overflow: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 90vw;
}

.list-block .list-area {
  position: relative;
}

.list-block .list-area .control-area {
  position: absolute;
  top: 100%;
}

.my-list {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
}

/* .my-list th,
.my-list td {
  text-align: center;
  vertical-align: middle;
  padding: 8px;
}

.my-list .column-header th {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
} */

.select {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}

.select input[type="checkbox"] {
  margin-right: 8px;
}

.remove-button {
  position: absolute;
  top: 10px; /* 必要な位置に調整してください */
  right: 10px; /* 必要な位置に調整してください */
}
